.title {
    text-align:right
}
.title > div {
    vertical-align:top;
    display:inline-block;
}
 .C2etoiles{
    background:white;
    display:inline-block;
    cursor:pointer;
}
 .C2etoiles:hover{
    background:blue;
}
 .C2etoiles div{
    display:inline-block;
    padding:5px;
}
 .C2etoiles div::after{
    content:"\002606"; 
​.propos {
    text-align:justify
}
.propos > div {
    vertical-align:top;
    display:inline-block;   
}
​ .hebergement {
    text-align:justify
    
}
 .hebergement > div {
    vertical-align:top;
    display:inline-block;   
}
.marcus {
   width: 10px;
   height: 10px;
}
​.assistance {
    text-align:justify
}
.assistance > div {
    vertical-align:top;
    display:inline-block;   
}